<% include sidebar %>
<% include header %>
I'm Max G. and I'm in the CS curriculum at Sonoma State University.
<br/>
<br/>

Contact me <a href="emailto:fakeemail@fake.net">here</a>


<br>
<br>


The purpose of this website is to provide a demo of a database-integrated implementation of StudyBuddy, a CS370 project that I worked on.

<br>
<br>

In this context, a 'recording' is a collection of images along with an audio file which are synchronized to --  ideally -- provide a reconstruction of a classroom setting without the problems that come along with video lecture recordings. 
<br>
<br>
An 'annotation' is a collection of notes made on a recording, i.e. user-generated text relative to some timeframe of the recording. 
<% include footer %>
