<div id='header' style='margin:0 0 0 200px;'>
	<head>
	<title>StudyBuddy - MG CS355 Project 2</title>
	</head>
	<body>
	<header>
		<h1>StudyBuddy - MG CS355 Project 2</h1>
		<h2><%= locals.settings.subtitle %></h2>
	</header>
</div>
<div id="content" style='padding-top:30px;padding-bottom:30px;margin:0 0 0 200px;'>
