
<!DOCTYPE HTML>
<html>
<div id='sidebar' style='padding:0px;position:absolute;top:0;bottom:0;left:0;width:200;'>
	<ul>
	<li><a href='/home'>Home</a></li><br/>
	<li><a href='/about'>About</a></li><br/>
	<li><a href='/browseclass'>Browse by class</a></li><br/>
	</ul>
</div>
<style>
	
	body, content, div, footer{
		background-color:#0f0f0f;
		color:lightgrey;
		border:1px solid#808080;	
	}
	li{
		border:1px solid#000;
	}
	a:visited{
		color:#B870FF;
	}
	a:link{
		color:#0099FF;
	}
</style>
